.requestsIcon,
.createIcon{
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    margin-left: 10px;
    margin-top: 3px;
    position: fixed;
    right: 2%;
    

}

.requestsIcon{
    background-image: url(request.png);
    top: 170px;
}

.createIcon{
    background-image: url(pencil.png);
    top: 220px;
}



.requestsIcon:hover, .createIcon:hover{
    background-color: rgb(254, 159, 5);
}