.staffObject{
    position: fixed;
    top: 120px;
    right: 2%;
}

.staffIcon{
    background-image: url(stafficon.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    margin-left: 10px;
    margin-top: 3px;
}

.staffListBody{
    /* position: relative; */
    border: solid rgb(254, 159, 5) 2px;
    background-color: antiquewhite;
    /* top: 50px */
}

table,
td{
    border: 1px solid black;
    padding: 5px;
}